.container {
  padding: 3rem;
}
.container h1 {
  color: black;
  text-align: center;
  margin-bottom: 4rem;
}
.wrapper {
  flex-wrap: wrap;
  margin-top: 4rem;
}
.sortWrapper {
  width: 100%;
}
.ascWrapper {
  margin: 1rem 0;
}
.loaderContainer {
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  .container {
    padding-inline: 1rem;
  }
}
